<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ncu.bbs.dao.ReplyDao">
    <resultMap id="ReplyMap" type="Reply">
        <id property="replyId" column="reply_id"/>
        <result property="replyPostId" column="reply_post_id"/>
        <result property="replyUserName" column="reply_user_name"/>
        <result property="replyContent" column="reply_content"/>
        <result property="replyGoodCount" column="reply_good_count"/>
        <result property="replyBadCount" column="reply_bad_count"/>
        <result property="replyCreateTime" column="reply_create_time"/>
        <result property="isadopt" column="isadopt"/>
    </resultMap>

    <resultMap id="ReplyAndUserMap" type="Reply">
        <id property="replyId" column="reply_id"/>
        <result property="replyPostId" column="reply_post_id"/>
        <result property="replyUserName" column="reply_user_name"/>
        <result property="replyContent" column="reply_content"/>
        <result property="replyGoodCount" column="reply_good_count"/>
        <result property="replyBadCount" column="reply_bad_count"/>
        <result property="replyCreateTime" column="reply_create_time"/>
    </resultMap>

    <!--显示所有回复-->
    <select id="listAllReply" resultMap="ReplyMap">
        SELECT
            *
        FROM t_reply
    </select>
    <!--通过帖子id查找帖子回复-->
    <select id="listReplyByPostId" parameterType="int" resultMap="ReplyMap">
        SELECT
           *
        FROM t_reply
        WHERE reply_post_id = #{replyPostId}
    </select>
    <!--添加回复-->
    <insert id="addReply" parameterType="Reply" keyProperty="replyId" useGeneratedKeys="true">
        INSERT INTO t_reply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="replyPostId!=null">
                reply_post_id,
            </if>
            <if test="replyUserName!=null">
                reply_user_name,
            </if>
            <if test="replyContent!=null">
                reply_content,
            </if>
            <if test="replyCreateTime!=null">
                reply_create_time,
            </if>
            <if test="isadopt!=null">
                isadopt
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="replyPostId!=null">
                #{replyPostId},
            </if>
            <if test="replyUserName!=null">
                #{replyUserName},
            </if>
            <if test="replyContent!=null">
                #{replyContent},
            </if>
            <if test="replyCreateTime!=null">
                #{replyCreateTime},
            </if>
            <if test="isadopt!=null">
                #{isadopt}
            </if>
        </trim>
    </insert>
    <!--删除回复-->
    <delete id="deleteReplyById" parameterType="int">
        DELETE FROM t_reply
        WHERE t_reply.reply_id = #{replyId}
    </delete>
    <!--通过id查找回复-->
    <select id="findReplyByReplyId" parameterType="int" resultMap="ReplyMap">
        SELECT
            *
        FROM t_reply
        WHERE t_reply.reply_id = #{replyId}
    </select>
    <!--通过Reply对象修改表    -->
    <update id="adoptReply" parameterType="Reply" >
        UPDATE t_reply
        SET
        <if test="replyUserName!=null">
            reply_user_name=#{replyUserName},
        </if>
        <if test="replyContent!=null">
            reply_content=#{replyContent},
        </if>
        <if test="replyCreateTime!=null">
            reply_create_time=#{replyCreateTime},
        </if>
        <if test="isadopt!=null">
            isadopt=#{isadopt}
        </if>
        where reply_id=#{replyId}
    </update>
</mapper>